.header__mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
header img {
  cursor: pointer;
  width: auto;
}
.header__mobile .container {
  display: flex;
  justify-content: space-between;
  margin-top: 18.6px;
}
.header__left,
.header__right {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header__desctop {
  display: none;
}
.header__desctop {
  .title {
    left: -32px;
  }
  .title__descr {
    padding-left: 32px;
  }
}
.header__item-btn {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: unset;
}
.btn1 {
  background-image: url(../images/repair.png);
}
.btn2 {
  background-image: url(../images/checkstatus.png);
}
.btn3 {
  background-image: url(../images/call.png);
}
.btn4 {
  background-image: url(../images/chat.png);
}
.btn5 {
  background-image: url(../images/profile.png);
}
.btn6 {
  background-image: url(../images/repair.png);
}
.btn7 {
  background-image: url(../images/checkstatus.png);
}
.btn8 {
  background-image: url(../images/burger.png);
}
.stroke-item {
  position: relative;
}
.header__item a {
  text-decoration: none;
  color: inherit;
}
.stroke-item:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}
@media (min-width: 360px) {
  .header__mobile {
    align-items: normal;
  }
}
@media (min-width: 1119px) {
  .header__desctop {
    display: flex;
  }
  .header__mobile {
    display: none;
  }
  .header__desctop .container {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }
  .header__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header__item span {
    color: #1b1c21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    -webkit-text-stroke-width: 0.2px;
  }
  .header__left,
  .header__right {
    gap: 28px;
  }
}
