.nav ul {
  display: flex;
  overflow-x: scroll;
  gap: 19px;
  position: relative;
  padding-left: 16px;

  &::-webkit-scrollbar {

    height: 3px;
    background-color: #f8f8f8;

  }
  &::-webkit-scrollbar-thumb {
    background-color: purple;
  }
}

.nav li {
  list-style: none;
cursor: pointer;
}

.nav__item {
  flex: 1;
  min-width: max-content;
  padding: 8px 10px;
}
.nav__item  {
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.review__item {
  list-style: none;
  display: none;
}

@media (min-width: 1119px) {
  .review__item {
    color: #7e7e82;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-bottom: 4px;
    padding: 10px 0;
    margin-left: 36px;
    margin-top: -5px;
    display: flex;
  }
}

.nav__item.active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background-color: white;
}
@media (min-width: 767px) {
  .nav {
    margin-top: 16px;
  }
}
@media (min-width: 1096px) {
  .nav ul::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1119px) {
  .nav__item {
    flex: 1;
    min-width: max-content;
    padding: 8px 18px;
    text-align: center;
  }
  .nav {
    margin-left: 0px;
    margin-top: -11px;
    gap: 0px;
  }
  .nav__item  {
    text-align: center;
  }
  .nav ul {
    padding-left: 32px;
  }
}
