@font-face {
  font-family: "lakes_my";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lakes_mybold";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: lakes_my;
  background-color: #f8f8f8;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 100vw;
  overflow: hidden;
}
.hidden-item {
  display: none;
}
.header-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.wrapper-thin {
  width: 288px;
}
.header-wrapper__top {
  display: flex;
  justify-content: space-between;
  margin-top: 18.6px;
}
.header-wrapper__topleft,
.header-wrapper__topright {
  display: flex;
  gap: 16px;
  align-items: center;
}
.stroke-item {
  position: relative;
}
.stroke-item:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}
.header-wrapper__bottom {
  margin-top: 16px;
  background-color: #f8f8f8;
}
.header-wrapper__bottomcontainer {
  position: relative;
}
.header-wrapper__bottomcontainer:before {
  content: url(../images/highlight.png);
  position: absolute;
  height: 100%;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.header-wrapper__bottomcontainer--descr {
  font-family: lakes_mybold;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.nav-section {
  display: flex;
  margin-left: 16px;
  overflow-x: scroll;
  gap: 19px;
  position: relative;
}

.nav-section__item {
  flex: 1;
  min-width: max-content;
  padding: 8px 10px;
}
.nav-section__item span {
  color: #7e7e82;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.nav-section__item.active {
  border-radius: 6px;
  border: 2px solid #b8ffec;
  background-color: white;
}
.main {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.main-content {
  align-self: center;
}
.main-content__descr--first p {
  color: #1b1c21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
}
.main-content__descr--next {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -14px;
  margin-bottom: 4px;
}
.main-content__descr--next p {
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  -webkit-text-stroke-width: 0.3px;
}
.main-content__descr--next-icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.main-picture {
  width: 100%;
}
.main-picture img {
  width: 100%;
}
.header-wrapper__desctop {
  display: none;
}
.reviews {
  display: none;
}
.hidden-text {
  display: none;
}
@media (min-width: 360px) {
  .wrapper-thin {
    width: auto;
  }
  .header-wrapper {
    align-items: normal;
  }
  .container {
    margin-left: 16px;
    margin-right: 24px;
  }
}
@media (min-width: 767px) {
  .hidden-item {
    display: block;
  }
  .hidden-item:nth-child(3) {
    margin-right: 20px;
  }
  .nav-section {
    margin-top: 16px;
  }
  .main {
    flex-direction: row;
    margin-top: 32px;
  }
  .main-content__item {
    flex: 1;
  }
  .main-content__descr--first {
    width: 87.5%;
  }
}
@media (min-width: 1096px) {
  .nav-section::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1119px) {
  .header-wrapper__desctop {
    display: flex;
  }
  .header-wrapper {
    display: none;
  }
  .header-wrapper__top {
    width: 100%;
    margin-top: 24px;
  }
  .container {
    margin-left: 32px;
    margin-right: 32px;
    background-color: #f8f8f8;
  }
  .header-wrapper__topleft--item-1 {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header-wrapper__topleft--item-1 span {
    color: #1b1c21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    -webkit-text-stroke-width: 0.2px;
  }
  .header-wrapper__bottomcontainer:before {
    height: auto;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-section__item {
    flex: 1;
    min-width: max-content;
    padding: 8px 18px;
    text-align: center;
  }
  .nav-section {
    margin-left: 0px;
    margin-top: -11px;
    gap: 0px;
  }
  .header-wrapper__topleft,
  .header-wrapper__topright {
    gap: 28px;
  }
  .main {
    margin-top: 0px;
  }
  .reviews {
    display: flex;
    margin-left: 18px;
    margin-top: -5px;
  }
  .reviews-content__item {
    color: #7e7e82;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-bottom: 4px;
  }
  .main-content {
    align-self: self-start;
  }
  .hidden-text {
    display: contents;
  }
  .main-content__descr--first {
    width: 94.5%;
  }
  .main-content__descr--first p {
    line-height: 20px;
  }
  .hidden-item {
    margin-top: 18px;
  }
  .nav-section__item span {
    text-align: center;
  }
}
@media (hover: hover) {
  .nav-section::-webkit-scrollbar {
    background-color: #b8ffec;

    height: 7px;
  }
  .nav-section::-webkit-scrollbar-track {
    background-color: white;
    width: 1px;
    opacity: 0.5;
  }
  .nav-section::-webkit-scrollbar-thumb {
    background-color: #8b008b;
    filter: brightness(200%);
  }
}
