.text-media {
    display: flex;
    gap: 0;
    flex-direction: column;

    @media (min-width: 767px) {
        flex-direction: row;
        gap: 36px;
    }

    @media (min-width: 1119px) {
        flex-direction: row;
    }
}

.text-media__content {
    flex: 1;
    align-self: self-start;

    @media (min-width: 767px) {
        width: 87.5%;
    }
    @media (min-width: 1119px) {
        width: 94.5%;
    }
}

.text-media__media {
    flex: 1;

    img {
        width: calc(100% + 32px);
        margin-left: -16px;

        @media (min-width: 360px) {
            width: 100%;
            margin-left: 0;
        }
    }

}
